@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Text Sizes */
.text-10 {
  font-size: 10px;
  line-height: 14px;
}

.text-12 {
  font-size: 12px;
  line-height: 16px;
}

.text-14 {
  font-size: 14px;
  line-height: 20px;
}

.text-16 {
  font-size: 16px;
  line-height: 24px;
}

.text-18 {
  font-size: 18px;
  line-height: 22px;
}

.text-20 {
  font-size: 20px;
  line-height: 24px;
}

.text-24 {
  font-size: 24px;
  line-height: 30px;
}

.text-26 {
  font-size: 26px;
  line-height: 32px;
}

.text-30 {
  font-size: 30px;
  line-height: 38px;
}

.text-36 {
  font-size: 36px;
  line-height: 44px;
}

/* Utilities */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

/* Forms */
.input-class {
  border-radius: 0.5rem;
  border: 1px solid rgb(209, 213, 219);
  color: rgb(17, 24, 40);
  font-size: 16px;
  line-height: 24px;
  padding: 0.5rem;
}

.input-class::placeholder {
  color: rgb(107, 114, 128);
  font-size: 16px;
}

.sheet-content button {
  outline: none;
}

.text14_padding10 {
  font-size: 14px;
  line-height: 20px;
  padding: 0.625rem 1rem;
  font-weight: 600;
}

.header-2 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

/* Home */
.home {
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.home-content {
  overflow-y: scroll;
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  padding: 1.75rem 1.25rem;
}

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

/* Total Balance */
.total-balance {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  border-radius: 0.75rem;
  border: 1px solid rgb(234, 236, 240);
  padding: 1rem;
  box-shadow:
    0px 1px 3px 0px rgba(16, 24, 40, 0.1),
    0px 1px 2px 0px rgba(16, 24, 40, 0.06);
}

.total-balance-chart {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100px;
  align-items: center;
}

.total-balance-label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(71, 84, 103);
}

.total-balance-amount {
  font-size: 24px;
  line-height: 30px;
  flex: 1;
  font-weight: 600;
  color: rgb(16, 24, 40);
}

/* Recent Transactions */
.recent-transactions {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
}

.recent-transactions-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(16, 24, 40);
}

.recent-transactions-tablist {
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.view-all-btn {
  font-size: 14px;
  line-height: 20px;
  border-radius: 0.5rem;
  border: 1px solid rgb(209, 213, 219);
  padding: 0.625rem 1rem;
  font-weight: 600;
  color: rgb(52, 64, 84);
}

/* Header Box */
.header-box {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.header-box-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: rgb(16, 24, 40);
}

.header-box-subtext {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(71, 84, 103);
}

/* Right Sidebar */
.right-sidebar {
  display: none;
  overflow-y: scroll;
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  border-left: 1px solid rgb(234, 236, 240);
  background-color: white;
  width: 355px;
}

@media (min-width: 1280px) {
  .right-sidebar {
    display: flex;
  }
}

.profile-banner {
  height: 120px;
  width: 100%;
  background-image: url("/icons/gradient-mesh.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.profile {
  position: relative;
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: rgb(243, 244, 246);
  border: 8px solid white;
  padding: 0.5rem;
  box-shadow:
    0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.profile-details {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}

.profile-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: rgb(16, 24, 40);
}

.profile-email {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(71, 84, 103);
}

.banks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 1.5rem;
}
.text-C {
  color: #00ff95;
}
/* Bank Pages */
.my-banks {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  background-color: rgb(252, 252, 253);
  padding: 2rem;
}

.transactions {
  display: flex;
  max-height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
  background-color: rgb(252, 252, 253);
  padding: 2rem;
}

.transactions-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.transactions-account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0.5rem;
  border-top: 1px solid rgb(224, 242, 254);
  border-bottom: 1px solid rgb(224, 242, 254);
  background-color: rgb(37, 112, 244);
  padding: 1rem;
  color: white;
}

.transactions-account-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  background-color: rgba(245, 250, 255, 0.2);
  padding: 0.5rem;
  color: white;
}

/* Bank Card */
.bank-card {
  position: relative;
  display: flex;
  height: 190px;
  width: 100%;
  max-width: 320px;
  justify-content: space-between;
  border-radius: 20px;
  border: 1px solid white;
  background: linear-gradient(90deg, #0179fe 0%, #4893ff 100%);
  box-shadow: 8px 10px 16px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(6px);
}

.bank-card_content {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 228px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px 0 0 20px;
  background-color: rgb(55, 65, 81);
  background: linear-gradient(90deg, #0179fe 0%, #4893ff 100%);
  padding: 1.25rem 1.25rem 1rem;
}

.bank-card_icon {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 0 20px 20px 0;
  background: linear-gradient(90deg, #0179fe 0%, #4893ff 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1.25rem;
}

/* Bank Info */
.bank-info {
  display: flex;
  gap: 1.125rem;
  padding: 1rem;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  background-color: rgb(245, 250, 255);
}

.bank-info_content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  overflow: hidden;
}

/* Category Badge */
.category-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 0.25rem;
  border-radius: 1rem;
  border: 1.5px solid;
  padding: 2px 0.375rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banktab-item {
  display: flex;
  gap: 1.125rem;
  border-bottom: 2px solid;
  padding: 0.5rem 0.5rem;
  transition: all 0.3s ease;
}

/* Mobile Nav */
.mobilenav-sheet {
  display: flex;
  height: calc(100vh - 72px);
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.mobilenav-sheet_close {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 240px;
}

/* PlaidLink */
.plaidlink-primary {
  font-size: 16px;
  line-height: 24px;
  border-radius: 0.5rem;
  border: 1px solid #0179fe;
  background: linear-gradient(90deg, #0179fe 0%, #4893ff 100%);
  font-weight: 600;
  color: white;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.plaidlink-ghost {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border-radius: 0.5rem;
  padding: 1.75rem 0.75rem;
}

.plaidlink-ghost:hover {
  background-color: white;
}

.plaidlink-default {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  gap: 0.75rem;
  border-radius: 0.5rem;
  background-color: transparent;
  flex-direction: row;
}

/* Auth */
.auth-asset {
  display: flex;
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(243, 249, 255);
}

@media (max-width: 1024px) {
  .auth-asset {
    display: none;
  }
}

/* Auth Form */
.auth-form {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 420px;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  padding: 2.5rem 0;
}

/* Forms */
.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.form-label {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  max-width: 280px;
  font-weight: 500;
  color: rgb(52, 64, 84);
}

.form-message {
  font-size: 12px;
  line-height: 16px;
  color: rgb(239, 68, 68);
}

.form-btn {
  font-size: 16px;
  line-height: 24px;
  border-radius: 0.5rem;
  border: 1px solid #0179fe;
  background: linear-gradient(90deg, #0179fe 0%, #4893ff 100%);
  font-weight: 600;
  color: white;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.form-link {
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  font-weight: 500;
  color: #0179fe;
}

/* Payment Transfer */
.payment-transfer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: rgb(252, 252, 253);
  padding: 2rem;
}

.payment-transfer_form-item {
  display: flex;
  width: 100%;
  max-width: 850px;
  flex-direction: column;
  gap: 0.75rem;
}

.payment-transfer_form-content {
  display: flex;
  width: 100%;
  max-width: 280px;
  flex-direction: column;
  gap: 0.5rem;
}

.payment-transfer_form-details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-top: 1px solid rgb(234, 236, 240);
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.payment-transfer_btn-box {
  margin-top: 1.25rem;
  display: flex;
  width: 100%;
  max-width: 850px;
  gap: 0.75rem;
  border-color: rgb(234, 236, 240);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.payment-transfer_btn {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  background: linear-gradient(90deg, #0179fe 0%, #4893ff 100%);
  font-weight: 600;
  color: white;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: none;
  cursor: pointer;
}

/* Root Layout */
.root-layout {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  box-shadow: 8px 10px 16px 0px rgba(0, 0, 0, 0.05);
}

/* Footer */
.footer {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer_name {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(229, 231, 235);
}

.footer_email {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.footer_name-mobile {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(229, 231, 235);
}

.footer_email-mobile {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.footer_image {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}

.footer_image-mobile {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}

/* Sidebar */
.sidebar {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  height: 100vh;
  min-width: 4rem;
  width: 4rem;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgb(234, 236, 240);
  background-color: white;
  padding-top: 2rem;
  color: white;
}

@media (min-width: 1024px) {
  .sidebar {
    min-width: 12rem;
    width: fit-content;
  }
}

.sidebar-logo {
  font-size: 26px;
  font-weight: 700;
  color: rgb(0, 33, 79);
  font-family: var(--font-ibm-plex-serif);
}

.sidebar-link {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.5rem;
  justify-content: center;
}

@media (min-width: 1024px) {
  .sidebar-link {
    justify-content: flex-start;
  }
}

.sidebar-label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(52, 64, 84);
  white-space: nowrap;
}
/* === Glassmorphism === */
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
